<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="single_table">

    <!--System will read the Class name from the typeAliases and use the Class name as Alias-->
    <!--<insert id="insertStudent" parameterType="Student">-->
    <insert id="insertStudent">
        insert into student(name, score) values (#{name},#{score})
        <!--keyProperty means the name of the key in the Student Class-->

        <!--order means the id is generated before/after the insert-->
            <!--MySQL insert before generate new key, Oracle generate key first-->
            <!--In xml config, the order is optional, but in annotation development, it's mandatory-->
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select @@identity
        </selectKey>
    </insert>

    <delete id="deleteStudent">
        <!--# is just a placeholder, any name inside is ok-->
        delete from student where id=#{id}
    </delete>

    <update id="updateStudent">
        update student set name=#{name}, score=#{score} where id=#{id}
    </update>

    <!--resultType cannot be ignore-->
    <!-- resultType also use Alias-->
    <select id="selectAllStudents" resultType="Student">
        select id,name,score from student
    </select>

    <select id="selectStudent" resultType="Student">
        select id,name,score from student where id=#{id}
    </select>

    <delete id="truncateStudentTable">
        truncate table student
    </delete>

</mapper>