<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--output to console, used in this module's tests-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="pers.xiaoming.mybatis.dao" level="debug"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>