<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Here should be the interface path-->
<mapper namespace="pers.xiaoming.mybatis.dao.IStudentDaoDynamicSQL">

    <select id="selectDynamicSQLIf" resultMap="StudentMapper">
        select t_id,t_name,t_score from t_student
        <where>
            <!--&& cannot be used, if needed, replace to &amp; -->
            <if test="name != null and name !=''">
                <!--and cannot be omit here!-->
                and t_name like '%' #{name} '%'
            </if>

            <!-- '<' cannot be used in html-->
            <!--should be replaced into &lt;-->
            <if test="score > 0 and score &lt; 100">
                and t_score > #{score}
            </if>
        </where>
    </select>

    <select id="selectDynamicSQLChoose" resultMap="StudentMapper">
        select t_id,t_name,t_score from t_student
        <where>
            <choose>
                <when test="name != null and name !=''">
                    and t_name like '%' #{name} '%'
                </when>
                <when test="score > 0 and score &lt; 100">
                    and t_score > #{score}
                </when>
                <otherwise>
                    and t_score > 100
                </otherwise>
            </choose>

        </where>
    </select>

    <select id="selectDynamicSQLForeachArray" resultMap="StudentMapper">
        <!--example: select * from t_student where id in (1,2,3)-->
        select t_id,t_name,t_score from t_student
        <if test="array != null and array.length > 0">
            where t_id in
            <foreach collection="array" item="inputid" open="(" close=")" separator=",">
                #{inputid}
            </foreach>
        </if>
    </select>


    <select id="selectDynamicSQLForeachList" resultMap="StudentMapper">
        <!--example: select * from t_student where id in (1,2,3)-->
        select t_id,t_name,t_score from t_student
        <!--same as java, list.size vs array.length-->
        <if test="list != null and list.size > 0">
            where t_id in
            <foreach collection="list" item="inputid" open="(" close=")" separator=",">
                #{inputid}
            </foreach>
        </if>
    </select>

    <select id="selectDynamicSQLForeachListGenericType" resultMap="StudentMapper">
        <!--example: select * from t_student where id in (1,2,3)-->
        select t_id,t_name,t_score from t_student
        <!--same as java, list.size vs array.length-->
        <if test="list != null and list.size > 0">
            where t_id in
            <foreach collection="list" item="stus" open="(" close=")" separator=",">
                #{stus.id}
            </foreach>
        </if>
    </select>

    <resultMap id="StudentMapper" type="Student">
        <id column="t_id" property="id"/>
        <result column="t_name" property="name"/>
        <result column="t_score" property="score"/>
    </resultMap>

</mapper>