<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--Must be at the beginning-->
    <typeAliases>
        <!--<typeAlias type="pers.xiaoming.mybatis.entity.Student" alias="Student"/>-->
        <package name="pers.xiaoming.mybatis.entity"/>
    </typeAliases>

    <!--use default to choose default environment when mybatis start-->
    <environments default="single_table_basic">
        <environment id="mybatisEM">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>

        <!--Define multiple environments-->
        <environment id="single_table_basic">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper.xml"/>
        <mapper resource="advanced_query_mapper.xml"/>
    </mappers>

</configuration>